APP_NAME=Laravel
APP_ENV=stg
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
CAMPUS_CLUB_EDIT_PASSWORD=
ASSET_URL=http://localhost:9190
APP_PERFORMANCE_MEASURE=

# 複数行で出力する=multiline_stack
# kibana用にJSON形式でログを出力=stack
# Fargateでkibanaと連携する=ecs
LOG_CHANNEL=ecs
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-northeast-1
AWS_REGION=ap-northeast-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

APP_AWS_ACCESS_KEY_ID=
APP_AWS_SECRET_ACCESS_KEY=
APP_AWS_REGION=ap-northeast-1

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

# google認証
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
GOOGLE_CALENDAR_SA=

# Slack認証
SLACK_APP_TOKEN=
SLACK_BOT_USER_OAUTH_TOKEN=
SLACK_URL_NOTICE=
SLACK_URL_ERROR=

# Recaptcha
RECAPTCHA_SECRET_KEY=

# S3/minio
WPORTAL_STORAGE_ACCESS_KEY=wportal2-minio
WPORTAL_STORAGE_SECRET_KEY=wportal2-minio
WPORTAL_STORAGE_DEFAULT_REGION=ap-northeast-1
WPORTAL_STORAGE_BUCKET=wportal2-storage
WPORTAL_STORAGE_AWS_URL=http://localhost:19000
WPORTAL_STORAGE_ENDPOINT=http://wportal2-minio:19000
WPORTAL_STORAGE_USE_PATH_STYLE_ENDPOINT=true

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_DISABLE_LOCAL_VALIDATION=
VITE_RECAPTCHA_SITE_KEY=
