/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/phpstan/
/vendor
/local-s3/*
.env
.env.backup
.env.production
.phpunit.result.cache
.pint.cache
_ide_helper.php
_ide_helper_models.php
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/bootstrap/ssr
_lighthouse_ide_helper.php
programmatic-types.graphql
schema-directives.graphql

/storage/app/u-aizu-inspection/
/storage/app/u-aizu-cache/

/storage/app/campus-export/
/storage/app/private/

/storage/app/pre-migrate-*.json

/storage/phpstan/cache/

/storage/phpstan/
